## Imports ##

In [1]:
import pyodbc
import pandas as pd
from sqlalchemy import create_engine, text
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

## Connections ##

Note: Connect via BigIP and SQL Server first

In [2]:
# Connect using pyodbc
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=uwc-studentsql.continuum.uw.edu\\uwcbiddsql;DATABASE=Crimson_Katharine;UID=kguite;PWD=-CFj?4M/n$*w')

In [3]:
# Connect using SQLAlchemy
engine = create_engine('mssql+pyodbc://kguite:-CFj%3F4M%2Fn%24*w@uwc-studentsql.continuum.uw.edu\\uwcbiddsql/Crimson_Katharine?driver=SQL+Server')

# Example to test the connection and execute a query
with engine.connect() as connection:
    # Wrap the SQL command in text() for explicit execution
    result = connection.execute(text("SELECT TOP 10 * FROM [dbo].[FactUnemployment]"))
    for row in result:
        print(row)  # This will print the rows from the FactUnemployment table

(1, 'Alabama', '2020-01-04', 4578, '2019-12-28', 18523, 1923741, 0.96)
(2, 'Alabama', '2020-01-11', 3629, '2020-01-04', 21143, 1923741, 1.1)
(3, 'Alabama', '2020-01-18', 2483, '2020-01-11', 17402, 1923741, 0.9)
(4, 'Alabama', '2020-01-25', 2129, '2020-01-18', 18390, 1923741, 0.96)
(5, 'Alabama', '2020-02-01', 2170, '2020-01-25', 17284, 1923741, 0.9)
(6, 'Alabama', '2020-02-08', 2176, '2020-02-01', 16745, 1923741, 0.87)
(7, 'Alabama', '2020-02-15', 1981, '2020-02-08', 16571, 1923741, 0.86)
(8, 'Alabama', '2020-02-22', 1735, '2020-02-15', 16059, 1923741, 0.83)
(9, 'Alabama', '2020-02-29', 1575, '2020-02-22', 14721, 1923741, 0.77)
(10, 'Alabama', '2020-03-07', 1663, '2020-02-29', 13657, 1923741, 0.71)

## SQL Query ##

In [4]:
cursor = conn.cursor()
cursor.execute("SELECT TOP 10 * FROM [dbo].[FactUnemployment]")
for i in cursor:
    print(i)

(1, 'Alabama', '2020-01-04', 4578, '2019-12-28', 18523, 1923741, 0.96)
(2, 'Alabama', '2020-01-11', 3629, '2020-01-04', 21143, 1923741, 1.1)
(3, 'Alabama', '2020-01-18', 2483, '2020-01-11', 17402, 1923741, 0.9)
(4, 'Alabama', '2020-01-25', 2129, '2020-01-18', 18390, 1923741, 0.96)
(5, 'Alabama', '2020-02-01', 2170, '2020-01-25', 17284, 1923741, 0.9)
(6, 'Alabama', '2020-02-08', 2176, '2020-02-01', 16745, 1923741, 0.87)
(7, 'Alabama', '2020-02-15', 1981, '2020-02-08', 16571, 1923741, 0.86)
(8, 'Alabama', '2020-02-22', 1735, '2020-02-15', 16059, 1923741, 0.83)
(9, 'Alabama', '2020-02-29', 1575, '2020-02-22', 14721, 1923741, 0.77)
(10, 'Alabama', '2020-03-07', 1663, '2020-02-29', 13657, 1923741, 0.71)

## Jupyter Magic Command Demo ##

In [5]:
!pip install pretty

Requirement already satisfied: pretty in c:\users\test\appdata\local\programs\python\python312\lib\site-packages (0.1)

## Setting PANDAS dataframe to FactUnemployment table ##

In [6]:
dataframeUnemployment = pd.read_sql("SELECT U.[State], SUM(U.[Initial Claims]) [ClaimsYTD] FROM [dbo].[FactUnemployment] U GROUP BY U.[State];", conn)
print(dataframeUnemployment)

                   State  ClaimsYTD
0            Puerto Rico     699280
1               Illinois    5384119
2               Oklahoma    1484331
3              Wisconsin    2290597
4                  Maine     375573
5           Pennsylvania    4976948
6          Massachusetts    3019233
7                   Ohio    5013617
8                Arizona    1689229
9                 Oregon    1630600
10               Wyoming     161076
11             Louisiana    1700458
12                Hawaii     729364
13         New Hampshire     421329
14              Virginia    2137871
15              New York    8170657
16          South Dakota     115986
17   Run Date: 3/22/2024          0
18              Maryland    1764926
19            California   20574341
20              Missouri    1843696
21             Minnesota    2050819
22  District of Columbia     358711
23               Florida    5747124
24               Indiana    2144007
25                Alaska     483898
26              Delaware     323890
27            Washington    3260401
28          North Dakota     194564
29           Connecticut    1340220
30                                0
31            New Jersey    3580924
32              Michigan    3939410
33                  Iowa     986778
34        North Carolina    2264512
35               Vermont     202308
36                 Idaho     558144
37               Georgia    5883454
38              Nebraska     375868
39        Virgin Islands      16868
40           Mississippi     860599
41              Colorado    1258568
42                 Texas    7689386
43        South Carolina    1238813
44         West Virginia     486528
45               Montana     373389
46                  Utah     577070
47               Alabama    1598438
48             Tennessee    1705979
49          Rhode Island     674323
50              Arkansas     763544
51                Nevada    1353596
52                Kansas     919507
53              Kentucky    2066871
54            New Mexico     582668

C:\Users\test\AppData\Local\Temp\ipykernel_8208\1269065339.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframeUnemployment = pd.read_sql("SELECT U.[State], SUM(U.[Initial Claims]) [ClaimsYTD] FROM [dbo].[FactUnemployment] U GROUP BY U.[State];", conn)

The above query results in an error: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
   dataframeUnemployment = pd.read_sql("SELECT U.[State], SUM(U.[Initial Claims]) [ClaimsYTD] FROM [dbo].[FactUnemployment] U GROUP BY U.[State];", conn)

The code block below uses the SQLAlchemy engine to execute a query and load the result into a DataFrame.

In [7]:
# Using SQL Alchemy engine to execute a SQL query on the FactUnemployment table and load the result into a DataFrame
sql_query = "SELECT U.[State], SUM(U.[Initial Claims]) AS ClaimsYTD FROM [dbo].[FactUnemployment] U GROUP BY U.[State];"
dataframeUnemployment = pd.read_sql(sql_query, engine)
print(dataframeUnemployment)

                   State  ClaimsYTD
0            Puerto Rico     699280
1               Illinois    5384119
2               Oklahoma    1484331
3              Wisconsin    2290597
4                  Maine     375573
5           Pennsylvania    4976948
6          Massachusetts    3019233
7                   Ohio    5013617
8                Arizona    1689229
9                 Oregon    1630600
10               Wyoming     161076
11             Louisiana    1700458
12                Hawaii     729364
13         New Hampshire     421329
14              Virginia    2137871
15              New York    8170657
16          South Dakota     115986
17   Run Date: 3/22/2024          0
18              Maryland    1764926
19            California   20574341
20              Missouri    1843696
21             Minnesota    2050819
22  District of Columbia     358711
23               Florida    5747124
24               Indiana    2144007
25                Alaska     483898
26              Delaware     323890
27            Washington    3260401
28          North Dakota     194564
29           Connecticut    1340220
30                                0
31            New Jersey    3580924
32              Michigan    3939410
33                  Iowa     986778
34        North Carolina    2264512
35               Vermont     202308
36                 Idaho     558144
37               Georgia    5883454
38              Nebraska     375868
39        Virgin Islands      16868
40           Mississippi     860599
41              Colorado    1258568
42                 Texas    7689386
43        South Carolina    1238813
44         West Virginia     486528
45               Montana     373389
46                  Utah     577070
47               Alabama    1598438
48             Tennessee    1705979
49          Rhode Island     674323
50              Arkansas     763544
51                Nevada    1353596
52                Kansas     919507
53              Kentucky    2066871
54            New Mexico     582668

## Setting PANDAS dataframe to FactCovid table ##

In [8]:
# Select from SQL Server using the Pandas module
dataframeFactCovid = pd.read_sql("SELECT TOP 10 * FROM [dbo].[FactCovid];", conn)
print(dataframeFactCovid)

   FactCovid_Key        ID     Updated  Confirmed  Confirmed_Change  Deaths  \
0              1  77765279  2020-10-22        512                10      25
1              2  78096938  2020-10-23        549                37      25
2              3  78440992  2020-10-24        572                23      25
3              4  78767346  2020-10-25        589                17      26
4              5  79068611  2020-10-26        610                21      26
5              6  79419515  2020-10-27        629                19      27
6              7  79674733  2020-10-28        653                24      27
7              8  80116653  2020-10-29        672                19      30
8              9  80467166  2020-10-30        689                17      32
9             10  80802061  2020-10-31        699                10      33

   Deaths_Change  Recovered  Recovered_Change  Latitude Longitude Iso2 Iso3  \
0              0          0                 0  42.17028  -76.3063   US  USA
1              0          0                 0  42.17028  -76.3063   US  USA
2              0          0                 0  42.17028  -76.3063   US  USA
3              1          0                 0  42.17028  -76.3063   US  USA
4              0          0                 0  42.17028  -76.3063   US  USA
5              1          0                 0  42.17028  -76.3063   US  USA
6              0          0                 0  42.17028  -76.3063   US  USA
7              3          0                 0  42.17028  -76.3063   US  USA
8              2          0                 0  42.17028  -76.3063   US  USA
9              1          0                 0  42.17028  -76.3063   US  USA

  Country_Region Admin_Region_1 Iso_Subdivision Admin_Region_2
0  United States       New York           US-NY   Tioga County
1  United States       New York           US-NY   Tioga County
2  United States       New York           US-NY   Tioga County
3  United States       New York           US-NY   Tioga County
4  United States       New York           US-NY   Tioga County
5  United States       New York           US-NY   Tioga County
6  United States       New York           US-NY   Tioga County
7  United States       New York           US-NY   Tioga County
8  United States       New York           US-NY   Tioga County
9  United States       New York           US-NY   Tioga County

C:\Users\test\AppData\Local\Temp\ipykernel_8208\448043057.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframeFactCovid = pd.read_sql("SELECT TOP 10 * FROM [dbo].[FactCovid];", conn)

In [9]:
# Using SQL Alchemy engine to execute a SQL query on the FactUnemployment table and load the result into a DataFrame
sql_query = "SELECT TOP 10 * FROM [dbo].[FactCovid]"
dataframeFactCovid = pd.read_sql(sql_query, engine)
print(dataframeFactCovid)

   FactCovid_Key        ID     Updated  Confirmed  Confirmed_Change  Deaths  \
0              1  77765279  2020-10-22        512                10      25
1              2  78096938  2020-10-23        549                37      25
2              3  78440992  2020-10-24        572                23      25
3              4  78767346  2020-10-25        589                17      26
4              5  79068611  2020-10-26        610                21      26
5              6  79419515  2020-10-27        629                19      27
6              7  79674733  2020-10-28        653                24      27
7              8  80116653  2020-10-29        672                19      30
8              9  80467166  2020-10-30        689                17      32
9             10  80802061  2020-10-31        699                10      33

   Deaths_Change  Recovered  Recovered_Change  Latitude Longitude Iso2 Iso3  \
0              0          0                 0  42.17028  -76.3063   US  USA
1              0          0                 0  42.17028  -76.3063   US  USA
2              0          0                 0  42.17028  -76.3063   US  USA
3              1          0                 0  42.17028  -76.3063   US  USA
4              0          0                 0  42.17028  -76.3063   US  USA
5              1          0                 0  42.17028  -76.3063   US  USA
6              0          0                 0  42.17028  -76.3063   US  USA
7              3          0                 0  42.17028  -76.3063   US  USA
8              2          0                 0  42.17028  -76.3063   US  USA
9              1          0                 0  42.17028  -76.3063   US  USA

  Country_Region Admin_Region_1 Iso_Subdivision Admin_Region_2
0  United States       New York           US-NY   Tioga County
1  United States       New York           US-NY   Tioga County
2  United States       New York           US-NY   Tioga County
3  United States       New York           US-NY   Tioga County
4  United States       New York           US-NY   Tioga County
5  United States       New York           US-NY   Tioga County
6  United States       New York           US-NY   Tioga County
7  United States       New York           US-NY   Tioga County
8  United States       New York           US-NY   Tioga County
9  United States       New York           US-NY   Tioga County

## Query The Dataframes Using Pandas ##

#### Query FactUnemployment with Pandas ####

In [12]:
#Show me the top 3 rows in unemployment table

unemployment_data = (dataframeUnemployment)
unemployment_data.head(3)

         State  ClaimsYTD
0  Puerto Rico     699280
1     Illinois    5384119
2     Oklahoma    1484331

#### Query FactCovid Table with Pandas ####

In [13]:
bing = (dataframeFactCovid)
bing.head(3)

,FactCovid_Key,ID,Updated,Confirmed,Confirmed_Change,Deaths,Deaths_Change,Recovered,Recovered_Change,Latitude,Longitude,Iso2,Iso3,Country_Region,Admin_Region_1,Iso_Subdivision,Admin_Region_2
0,1,77765279,2020-10-22,512,10,25,0,0,0,42.17028,-76.3063,US,USA,United States,New York,US-NY,Tioga County
1,2,78096938,2020-10-23,549,37,25,0,0,0,42.17028,-76.3063,US,USA,United States,New York,US-NY,Tioga County
2,3,78440992,2020-10-24,572,23,25,0,0,0,42.17028,-76.3063,US,USA,United States,New York,US-NY,Tioga County

## Query the Dataframes using SQLAlchemy: ##
SQL Alchemy does not have a "head" function, and doesn't return a prettily formatted table like PANDAS.  But, we can use a combination of SQLALchemy to query the database, Pandas Dataframe (pd) to read the SQL query, which does return the headers and number lines.

#### FactUnemployment Dataframe Query with SQLAlchemy ####

In [25]:
# SQL Query to fetch top 3 rows of the FactUnemployment table
sql_query = "SELECT TOP 3 U.[State], SUM(U.[Initial Claims]) AS ClaimsYTD FROM [dbo].[FactUnemployment] U GROUP BY U.[State];"

# Use pandas to load the SQL query result into a DataFrame
dataframeUnemployment = pd.read_sql_query(sql_query, engine)

# Display the DataFrame
print(dataframeUnemployment)

         State  ClaimsYTD
0  Puerto Rico     699280
1     Illinois    5384119
2     Oklahoma    1484331

#### FactCovid Dataframe Query with SQLAlchemy ####

In [24]:
# SQL Query to fetch top 3 rows
sql_query = "SELECT TOP 3 * FROM [dbo].[FactCovid];"

# Use pandas to load the SQL query result into a DataFrame
dataframeFactCovid = pd.read_sql_query(sql_query, engine)

# Display the DataFrame
print(dataframeFactCovid)

   FactCovid_Key        ID     Updated  Confirmed  Confirmed_Change  Deaths  \
0              1  77765279  2020-10-22        512                10      25
1              2  78096938  2020-10-23        549                37      25
2              3  78440992  2020-10-24        572                23      25

   Deaths_Change  Recovered  Recovered_Change  Latitude Longitude Iso2 Iso3  \
0              0          0                 0  42.17028  -76.3063   US  USA
1              0          0                 0  42.17028  -76.3063   US  USA
2              0          0                 0  42.17028  -76.3063   US  USA

  Country_Region Admin_Region_1 Iso_Subdivision Admin_Region_2
0  United States       New York           US-NY   Tioga County
1  United States       New York           US-NY   Tioga County
2  United States       New York           US-NY   Tioga County